body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  position: relative;
  padding-bottom: 100px;
}
a {
  text-decoration: none;
  color: #202121;
}
#nav__tittle {
  transition: all 0.2s ease;
}
#nav__tittle:hover {
  letter-spacing: 0.1em;
}
footer {
  background-color: #fdfdfd;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  left: 0px;
  bottom: 0px;
  z-index: 99999;
  position: absolute;
}

.footer-copy p {
  font-size: 10px;
}

.card__container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container__contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact__social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ffffffff;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
}
.contact__social a {
  padding: 20px;
  color: #7b7c7c;
  font-size: 1.1rem;
}

.contact__social a:hover {
  color: #000000;
  transition: all ease 0.3s;
}

#contact {
  display: flex;
  align-items: center;
  margin: 80px 10px 80px 250px;
  width: auto;
}

.contact__box {
  width: 300px;
  background: #202121;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 30px;
  box-shadow: 2px 0px 30px rgba(0, 0, 0, 0.1);
}

.contact__box--heading h3 {
  color: #e7eef3;
  font-size: 2rem;
  margin: 0;
}

.contact__inputs {
  margin: 15px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact__inputs input {
  width: 250px;
  height: 45px;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(251, 251, 251, 0.1);
  outline: none;
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
  color: #f4f4f4;
  display: flex;
}

.contact__inputs input:focus {
  border-bottom: 1px solid rgba(252, 252, 252, 1);
  transition: all ease 0.5s;
}

.contact__inputs textarea {
  width: 250px !important;
  height: 200px !important;
  outline: none;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(82, 82, 82, 1);
  color: #f4f4f4;
  padding: 10px;
  font-size: 0.7rem;
  box-sizing: border-box;
}

.contact__inputs textarea:focus {
  border: none;
  border-bottom: 1px solid rgba(252, 252, 252, 1);
  transition: all ease 0.5s;
}

.contact__inputs textarea::placeholder,
.contact__inputs input::placeholder {
  font-size: 12px;
}

.contact__inputs button {
  width: 200px;
  height: 40px;
  background: #ffffff;
  border: none;
  outline: none;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  letter-spacing: 1px;
  transition: background-color 1s ease;
  -webkit-transition: background-color 1s ease;
  -moz-transition: background-color 1s ease;
  -ms-transition: background-color 1s ease;
  -o-transition: background-color 1s ease;
}

.contact__inputs button:active {
  transform: scale(1.03);
}

.contact__inputs button:hover {
  background-color: #e7eef3;
  letter-spacing: 2px;
  width: 205px;
}

.contact__map {
  filter: grayscale(0.2);
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
  border: 2px solid #ffff;
}

.card__tittleMain {
  font-size: 1.5em;
}

.intro {
  height: 500px;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.intro__title {
  color: white;
  margin: 0;
  font-size: 50px;
  letter-spacing: 15px;
}
.intro__description {
  color: white;
  font-size: 20px;
}

.intro__date {
  color: white;
  font-size: 15px;
}
.intro_botton {
  display: flex;
  background: white;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 30px;
  justify-self: center;
  text-align: center;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.intro__enlance {
  color: grey;
}

.intro__enlance:hover {
  color: #202121;
}

#intro__index {
  background-image: linear-gradient(rgba(0, 0, 0, 0.767), rgba(0, 0, 0, 0.767)),
    url("/assets/intro-egg.jpg");
  height: 300px;
}

#intro__books {
  background-image: linear-gradient(rgba(0, 0, 0, 0.767), rgba(0, 0, 0, 0.767)),
    url("../assets/intro-books.jpg");
}

#intro__collections {
  background-image: linear-gradient(rgba(0, 0, 0, 0.767), rgba(0, 0, 0, 0.767)),
    url("../assets/intro-collections.jpg");
  height: 400px;
}

#intro__construction {
  background-image: linear-gradient(rgba(0, 0, 0, 0.767), rgba(0, 0, 0, 0.767)),
    url("../assets/intro-contruction.jpg");
  height: 100vh;
}

#intro__education {
  background-image: linear-gradient(rgba(0, 0, 0, 0.767), rgba(0, 0, 0, 0.767)),
    url("../assets/intro-education.jpg");
}
.container__text {
  width: auto;
}

#intro__resources {
  background-image: linear-gradient(rgba(0, 0, 0, 0.767), rgba(0, 0, 0, 0.767)),
    url("../assets/intro-resources.jpg");
  height: 400px;
}
#inner__education {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 12rem;
}

@media screen and (max-width: 1200px) {
  .contact__map {
    display: none;
  }
  .container__contact {
    justify-content: flex-start;
    align-items: center;
  }
  img {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  #inner__education {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }

  #contact {
    margin: 0.2em auto 2.5rem;
    display: block;
    position: static;
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    z-index: -1;
  }

  .contact__box {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
  }

  .contact__social {
    display: flex;
    flex-direction: row;
  }

  .footer-copy p {
    font-size: 0.4rem;
  }

  .card__tittleMain {
    font-size: 1em;
  }

  .intro__title {
    font-size: 2rem;
  }

  .intro__description {
    font-size: 1rem;
  }

  .intro__date {
    font-size: 0.8rem;
  }

  .card__title {
    font-size: 1em;
  }

  .card__text {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 480px) {
  .intro__title {
    font-size: 1.2rem;
  }

  .intro__description {
    font-size: 0.8rem;
  }

  .intro__date {
    font-size: 0.5rem;
  }

  #title__construction {
    font-size: 0.7rem;
  }

  #description__construction {
    font-size: 0.4rem;
  }

  img {
    max-width: 100%;
  }
}
