//-----------------colors
$colorPrimary: #f4f7f6;
$colorSecondary: #202121;
$colorNavHover: #373f40;

//-----------fuentes
$fontPrimary: "Inter", sans-serif;

//-------------- maps font weigth
$font-weight: (
  "thin": 100,
  "extraLight": 200,
  "light": 300,
  "regular": 400,
  "medium": 500,
  "semiBold": 600,
  "bold": 700,
  "extraBold": 800,
  "black": 900,
);

//-------------- maps font size

//---------mixins
