$colorPrimary: #f4f7f6;
//-----------------colors
$colorSecondary: #202121;
$colorNavHover: #373f40;

$primaryColor: (
  "base": #f2f2f2,
  "hover": #b3b2b2,
  "active": #dbdbdb,
  "transparency": rgba(242, 242, 242, 0.2),
  "input": white,
);

$secodaryColor: (
  "base": #0d0d0d,
  "hover": #5f5f5f,
  "active": #0d0d0d,
  "lines": #d9d9d9,
  "transparency": null,
  "text": #555555,
  "hoverSecond" : #7f7f7f,
);

$thirdColor: (
  "base": #bfa18f,
  "hover": #9b8477,
  "active": #bfa18f,
  "transparency": null,
);

//-----------fuentes
$fontPrimary: "Inter", sans-serif;
$fontSecondary: 'Roboto', sans-serif;

//-------------- maps font weigth
$font-weight: (
  "thin": 100,
  "extraLight": 200,
  "light": 300,
  "regular": 400,
  "medium": 500,
  "semiBold": 600,
  "bold": 700,
  "extraBold": 800,
  "black": 900,
);

//-------------- maps font size

$font-size: (
  "xxxs": 0.3em,
  "xs": 0.5em,
  "s": 1em,
  "m": 1.2em,
  "l": 1.4em,
  "xl": 1.6em,
  "xxl": 1.8em,
  "xxxl": 2em,
);
//---------mixins
