/*-----------------Card img books init -----------------*/
#inner_books {
  margin-top: 7em;
}


#inner_design {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../assets/img-design.jpg");
  background-size: 20rem;
  &:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/img-design.jpg");
  background-size: 21rem;
}
}



#inner_front {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../assets/img-front.jpg");
  background-size: 20rem;
  &:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/img-front.jpg");
  background-size: 21rem;
}
}


#inner_back {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../assets/img-back.jpg");
  background-size: 20rem;
  &:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/img-back.jpg");
  background-size: 21rem;
}
}


#inner_security {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../assets/img-security.jpg");
  background-size: 20rem;
  &:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/img-security.jpg");
  background-size: 21rem;
}
}



#inner_full {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../assets/img-full.jpg");
  background-size: 20rem;
  &:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/img-full.jpg");
  background-size: 21rem;
}
}


#inner_2D {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../assets/img-2D.jpg");
  background-size: 20rem;
  &:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/img-2D.jpg");
  background-size: 21rem;
}
}



#inner_3D {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../assets/img-3D.jpg");
  background-size: 20rem;
  &:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/img-3D.jpg");
  background-size: 21rem;
}
}


#inner_photography {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../assets/img-photography.jpg");
  background-size: 20rem;
  &:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/img-photography.jpg");
  background-size: 21rem;
}
}



#inner_film {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../assets/img-film.jpg");
  background-size: 20rem;
  &:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/img-film.jpg");
  background-size: 21rem;
}
}



#inner_marketing {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../assets/img-marketing.jpg");
  background-size: 20rem;
  &:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/img-marketing.jpg");
  background-size: 21rem;
}
}


#inner_uxui {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../assets/img-uxui.jpg");
  background-size: 20rem;
  &:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/img-uxui.jpg");
  background-size: 21rem;
}
}



#inner_other {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../assets/img-otherB.jpg");
  background-size: 20rem;
  &:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/img-otherB.jpg");
  background-size: 21rem;
}
}



/*-----------------Card img education end -----------------*/