/*-----------------Card img books design init -----------------*/
#inner__designBooks {
  margin-top: 6em;
}


#inner_how {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../assets/img-how.jpg");
  background-size: 20rem;
  &:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../assets/img-how.jpg");
  background-size: 21rem;
}
}



#inner_thevignellicanon {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../assets/img-thevignellicanon.jpg");
  background-size: 20rem;
  &:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../assets/img-thevignellicanon.jpg");
  background-size: 21rem;
}
}



#inner_GPDfNPO {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../assets/img-GDfNPO.jpg");
  background-size: 20rem;
  &:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../assets/img-GDfNPO.jpg");
  background-size: 21rem;
}
}


#inner_dotZero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../assets/img-dotzero.jpg");
  background-size: 20rem;
  &:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../assets/img-dotzero.jpg");
  background-size: 21rem;
}
}



#inner_typografieDeutsche {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../assets/img-typografieDeutsche.jpg");
  background-size: 20rem;
  &:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../assets/img-typografieDeutsche.jpg");
  background-size: 21rem;
}
}


#inner_tiposFormales {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../assets/img-tiposFormales.jpg");
  background-size: 20rem;
  &:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../assets/img-tiposFormales.jpg");
  background-size: 21rem;
}
}


#inner_PPP {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../assets/img-PPP.jpg");
  background-size: 20rem;
  &:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../assets/img-PPP.jpg");
  background-size: 21rem;
}
}


#inner_noLogo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../assets/img-noLogo.jpg");
  background-size: 20rem;
  &:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../assets/img-noLogo.jpg");
  background-size: 21rem;
}
}


#inner_bodoniP1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../assets/img-bodoniP1.jpg");
  background-size: 20rem;
  &:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../assets/img-bodoniP1.jpg");
  background-size: 21rem;
}
}

#inner_bodoniP2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../assets/img-bodoniP2.jpg");
  background-size: 20rem;
  &:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../assets/img-bodoniP2.jpg");
  background-size: 21rem;
}
}


#inner_educacionVisual {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../assets/img-educacionVisual.jpg");
  background-size: 20rem;
  &:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../assets/img-educacionVisual.jpg");
  background-size: 21rem;
}
}


#inner_dreherBirra {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../assets/img-dreherBirra.jpg");
  background-size: 20rem;
  &:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../assets/img-dreherBirra.jpg");
  background-size: 21rem;
}
}

#inner_dictadura {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../assets/img-dictadura.jpg");
  background-size: 20rem;
  &:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../assets/img-dictadura.jpg");
  background-size: 21rem;
}
}


#inner_logoRapid {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../assets/img-logoRapid.jpg");
  background-size: 20rem;
  &:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../assets/img-logoRapid.jpg");
  background-size: 21rem;
}
}

#inner_reticula {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../assets/img-reticula.jpg");
  background-size: 20rem;
  &:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../assets/img-reticula.jpg");
  background-size: 21rem;
}
}

#inner_bauhaus {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../assets/img-bauhaus.jpg");
  background-size: 20rem;
  &:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../assets/img-bauhaus.jpg");
  background-size: 21rem;
}
}

#inner_gestionDiseno {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../assets/img-gestionDiseno.jpg");
  background-size: 20rem;
  &:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../assets/img-gestionDiseno.jpg");
  background-size: 21rem;
}
}

/*-----------------Card img books design end -----------------*/