/*-----------------Card img resources init -----------------*/

#inner__resources {
  margin-top: 10em;
}


#inner_tool {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../assets/img-tool.jpg");
  background-size: 20rem;
  &:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/img-tool.jpg");
  background-size: 21rem;
}
}



#inner_vrar {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../assets/img-vrar.jpg");
  background-size: 20rem;
  &:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/img-vrar.jpg");
  background-size: 21rem;
}
}


#inner_movies {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../assets/img-movies.jpg");
  background-size: 20rem;
  &:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/img-movies.jpg");
  background-size: 21rem;
}
}


#inner_finances {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../assets/img-finances.jpg");
  background-size: 20rem;
  &:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/img-finances.jpg");
  background-size: 21rem;
}
}


#inner_inspiration {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../assets/img-inspiration.jpg");
  background-size: 20rem;
  &:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/img-inspiration.jpg");
  background-size: 21rem;
}
}



/*-----------------Card img resources end -----------------*/