//-----------------colors
$colorPrimary : #f4f7f6;
$colorSecondary : #202121;
$colorNavHover : #373f40;


//-----------fuentes
$fontPrimary : 'Inter', sans-serif;

//-------------- maps font weigth 
$font-weight: (
	"thin": 100 ,
  "extraLight" : 200,
  "light" : 300,
  "regular" : 400,
  "medium" : 500,
  "semiBold" : 600,
  "bold" : 700,
  "extraBold" : 800,
  "black" : 900,
);


//-------------- maps font size 

//---------mixins




@mixin flex($justify-content,$align-items,$flex-direction,$flex-wrap){
  display: flex;
  justify-content:$justify-content;
  align-items: $align-items;
  flex-direction: $flex-direction;
  flex-wrap: $flex-wrap;
}


//------------function
@function weigth($weight-name){
  @return map-get($font-weight , $weight-name );
}

@mixin bgInner($route-img){
background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url($route-img);
  background-size: 20rem;
  &:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url($route-img);
  background-size: 21rem;
  }
}