@use "../abstracts/" as abs;
/*-----------------FOOTER INIT -----------------*/

footer {
  background-color: #fdfdfd;
  @include abs.flex(center, center, row, nowrap);
  height: 50px;
  width: 100%;
  bottom: 0;
  position: absolute;
  z-index: 99999;
  bottom: 0;
  /* -------------grid------------ */
  grid-area: footer;
}

.footer-copy p {
  font-size: 10px;
}

/*-----------------FOOTER END -----------------*/
