@use "../abstracts/" as abs;
/*-----------------FOOTER INIT -----------------*/

footer {
  background-color: abs.color(abs.$primaryColor, "input");
  @include abs.flex(center, center, row, nowrap);
  height: 50px;
  width: 100%;
  bottom: 0;
  position: absolute;
  z-index: 99999;
  bottom: 0;
  /* -------------grid------------ */
  grid-area: footer;
}

.footer-copy p {
  font-size: abs.size("s") - 0.4em;
}

/*-----------------FOOTER END -----------------*/
