@use "../abstracts/" as abs;

/*-----------------Main init -----------------*/

.intro {
  height: 500px;
  // background-position: center;
  // background-size: cover;
   background: {
    
    position: center;
    size: cover;
  }
  @include abs.flex(center, center, column, nowrap);
  /* -------------grid--------- */
  grid-area: main;  
}

#intro__index{
  background-image: url("../../assets/bgintro.jpg");
}
#intro__collections{
  background-image: url("../../assets/bgintro-collections.jpg");
}
.intro__box {
  @include abs.flex(center, center, column, nowrap);
  text-align: center;
}

.intro__title {
  color: abs.color(abs.$primaryColor, "base");
  margin: 0;
  font-size: abs.size("xxxl") + abs.size("xxl");
  letter-spacing: 45px;
  font-weight: abs.weigth("regular");
  margin-left: 1em;
}
.intro__description {
  color: abs.color(abs.$primaryColor, "base");
  font-size: abs.size("m");
  font-weight: abs.weigth("regular");
  margin-bottom: 0;
}

#logo {
  width: 3em;
  height: auto;
}

#lupa {
  width: 2em;
  height: auto;
}

.intro__date {
  color: abs.color(abs.$primaryColor, "hover");
  font-size: abs.size("l");
}

.fecha {
  @include abs.flex(center, center, row, nowrap);
  gap: 0.2em;
  width: 100%;
  font-size: abs.size("xs") + 0.3;
  margin: 0;
}

.intro_botton {
  background: abs.color(abs.$primaryColor, "base");
  @include abs.flex(center, center, row, nowrap);
  width: 120px;
  height: 30px;
  justify-self: center;
  text-align: center;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.intro__enlance {
  color: abs.color(abs.$secodaryColor, "lines");
  &:hover {
    color: abs.color(abs.$secodaryColor, "base");
  }
}

.search {
  @include abs.flex(center, center, row, nowrap);
  margin-top: 1em;
  margin-left: 3.5em;
}

.input {
  width: 30em;
  height: 2em;
  border-radius: 20px;
  outline: none;
  align-self: center;
  border: 1px hsla(0, 0%, 58.8%, 0.21);
  border-radius: 80px;
  background-color: abs.color(abs.$primaryColor, "input");
  box-shadow: 0 1px 5px -2px rgba(0, 0, 0, 0.23);
  padding: 0 1em;
  color: abs.color(abs.$secodaryColor, "text");
}

.imginput {
  position: relative;
  right: 2em;
}

/*-----------------Main end -----------------*/
