@use "../abstracts/" as abs;

/*-----------------Main init -----------------*/

#intro__index {
  @include abs.bgIntro("../assets/intro-egg.jpg");
}

#intro__books {
  @include abs.bgIntro("../assets/intro-books.jpg");
}

#intro__collections {
  @include abs.bgIntro("../assets/intro-collections.jpg");
  height: 400px;
}

#intro__construction {
  @include abs.bgIntro("../assets/intro-contruction.jpg");
  height: 100vh;
}

#intro__education {
  @include abs.bgIntro("../assets/intro-education.jpg");
}

#intro__resources {
  @include abs.bgIntro("../assets/intro-resources.jpg");
  height: 400px;
}
#intro__designBooks {
  @include abs.bgIntro("../assets/intro-designBooks.jpg");
  height: 300px;
}
#intro__pages {
  @include abs.bgIntro("../assets/intro-pages.jpg");
  height: 300px;
}

.intro {
  height: 500px;
  background-position: center;
  background-size: cover;
  @include abs.flex(center, center, column, nowrap);
  /* -------------grid--------- */
  grid-area: main;
}

.intro__box {
  @include abs.flex(center, center, column, nowrap);
  text-align: center;
}

.intro__title {
  color: white;
  margin: 0;
  font-size: 50px;
  letter-spacing: 35px;
  font-weight: abs.weigth("regular");
}
.intro__description {
  color: white;
  font-size: 18px;
  font-weight: abs.weigth("regular");
}

.intro__date {
  color: white;
  font-size: 15px;
}

.intro_botton {
  background: white;
  @include abs.flex(center, center, row, nowrap);
  width: 120px;
  height: 30px;
  justify-self: center;
  text-align: center;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.intro__enlance {
  color: grey;
  &:hover {
    color: abs.$colorSecondary;
  }
}

/*-----------------Main end -----------------*/
