/*-----------------Responisve init -----------------*/
@use "../abstracts/" as abs;

@media screen and (max-width: 1200px) {
  img {
    max-width: 100%;
  }
  /*----------------cards init--------------*/
  .inner__cards--ul {
    margin-right: 0px;
    margin-left: 0px;
  }
  /*----------------cards end--------------*/

  /*----------------prsentation book init--------------*/
  .presentation {
    flex-direction: column;
  }
  /*----------------prsentation book end--------------*/
  /*----------------footer init--------------*/
  footer {
    position: relative;
  }
  /*----------------footer end--------------*/
  /*----------------contact init--------------*/
  .contact__map {
    display: none;
  }
  .container__contact {
    justify-content: flex-start;
    align-items: center;
  }
  /*----------------contact end--------------*/
}

@media screen and (max-width: 768px) {
  img {
    max-width: 100%;
  }
  /*----------------nav init--------------*/

  .menu {
    display: block;
  }
  .bodyShow {
    overflow: hidden;
  }

  .nav-ul {
    display: none;
    width: 100%;
    flex-direction: column;
    transition: all 0.2s ease;
  }

  .nav-ul.show {
    display: flex;
    align-items: flex-end;
    width: 90%;
    height: 80vh;
    background-color: abs.color(abs.$primaryColor, "base");
    transition: all 0.2s ease;
  }

  .nav-ul li a {
    padding: 10px;
  }

  .logo {
    width: 3em;
  }

  .lineV {
    display: none;
  }

  .lineH {
    margin-top: 1em;
  }

  .lineH-s {
    width: 75%;
  }

  /*----------------nav end--------------*/

  /*----------------main init--------------*/

  .title__hidden {
    display: inline;
  }

  .title__nhidden {
    display: none;
  }

  .intro__title {
    font-size: 1.9rem;
    letter-spacing: 20px;
  }

  .intro__description {
    font-size: 1rem;
  }

  .intro__date {
    font-size: 0.8rem;
  }

  .input {
    width: 10em;
  }

  /*----------------main end--------------*/

  .inner__cards--ul {
    font-size: abs.size("s");
  }

  .inner__title {
    font-size: abs.size("s") + 0.5em;
  }

  .button {
    font-size: abs.size("xs") + 0.2em;
  }
  /*----------------contact init--------------*/

  #contact {
    margin: 0.2em auto 2.5rem;
    display: block;
    position: static;
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    z-index: -1;
  }

  .contact__box {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    border-radius: 0;
  }

  .contact__social {
    display: flex;
    flex-direction: row;
    border-radius: 0;
  }

  .container__contact {
    margin-right: 0em;
  }
  /*----------------contact end--------------*/
  /*----------------footer init--------------*/

  .footer-copy p {
    font-size: 0.4rem;
  }
  /*----------------footer end--------------*/

  /*----------------404 init--------------*/

  #title__construction {
    font-size: 1rem;
    padding: 10px;
  }

  #description__construction {
    font-size: 0.7rem;
  }

  .buttons_internal {
    width: 40px;
    height: 10px;
    font-size: 10px;
    text-align: center;
    a {
      letter-spacing: 1px;
    }
  }
  /*----------------404 end--------------*/

  /*----------------presentation book init--------------*/

  .captures {
    margin: 20px;
  }

  .presentation__buttons a,
  .captures a {
    letter-spacing: 0px;
  }

  .presentation__box div p {
    font-size: 0.8rem;
  }

  /*----------------presentation book end--------------*/

  /*----------------inner init--------------*/

  #description__books {
    font-size: 10px;
    margin: 10px;
  }

  #tittle__other {
    font-size: 1.5rem;
  }
  #inner__education {
    margin-top: 1rem;
  }

  #inner_collections {
    margin-top: 1em;
  }

  #inner_books {
    margin-top: 1em;
  }

  #inner__designBooks {
    margin-top: 1em;
  }

  #inner__resources {
    margin-top: 1em;
  }

  /*----------------inner end--------------*/
}

@media screen and (max-width: 480px) {
  /*----------------nav init--------------*/

  .logo {
    min-width: 50%;
  }

  /*----------------nav end--------------*/

  /*----------------main init--------------*/

  .intro__title {
    font-size: 1rem;
  }

  .intro__description {
    font-size: 0.8rem;
  }

  .intro__date {
    font-size: 0.5rem;
  }

  /*----------------main end--------------*/

  /*----------------404 init--------------*/

  #title__construction {
    font-size: 0.7rem;
  }

  #description__construction {
    font-size: 0.4rem;
  }
  /*----------------404 end--------------*/
}

/*-----------------Responisve end -----------------*/
